uri="mongodb://localhost:27017/my_test_db"

GOOGLE_API_KEY="AIzaSyDUMMY_GOOGLE_KEY_1234567890"
GOOGLE_API_KEY_2="AIzaSyDUMMY_GOOGLE_KEY_0987654321"

CLOUDINARY_API_KEY="123456789012345"
CLOUDINARY_API_SECRET="dummy_cloudinary_secret_abcdef123456"
